<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body class="d-flex flex-column justify-content-between vh-100">
  <div>
    <nav class="nav navbar navbar-dark bg-primary mb-3">
      <div class="container">
        <a href="#" class="navbar-brand">Wyszukiwarka użytkoników Github&apos;a</a>
      </div>
    </nav>
    <div class="container searchContainer mt-5">
      <div class="search card card-body">
        <h1>Wyszukiwarka użytkowników Github&apos;a</h1>
        <p class="lead">Wprowadź nazwę użytkownika, aby wyszukać....</p>
        <input type="text" class="form-control" id="search-user" placeholder="Nazwa użytkownika...">
      </div>
      <br>
      <div id="profile"></div>
    </div>
  </div>

  <footer class="mt-5 p-3 text-center bg-light w-100">
    Github Finder App in Vanilla JS &copy; <span id="copy-year"></span>
  </footer>
</body>

</html>