*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
  color: #fff;
  padding: 100px;
}

h1 {
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

h1:hover {
  transform: scale(1.1);
  text-transform: lowercase;
}